{% extends "_partials/wrapper.njk" %}

{% block main %}
<body class="site dest">
  <a class="reader" href="#main-content">Skip to main content</a>
  {% block header %}
		{% include "_partials/header.njk" %}
  {% endblock %}

        {{ content | safe }}
{% endblock %}
