
.site {
  @import "./node_modules/@risingcampaigns/rc-layout/src/layouts/backgrounds/index";
  &::after {
    z-index: -1;
    content:'';
    grid-row:3;
    grid-column: 1 / -1;
    // background:$marqBgM;
    align-self: stretch;
    justify-self:stretch; 
    @media screen and (min-width:700px) {
      margin-left:-$gap;
    }
    @media screen and (min-width:700px) {
      margin-left:($gap * -3);
      grid-row:1 / span 2;
    }
    @include marq04;
  }
}