@import "./node_modules/@risingcampaigns/rc-layout/src/layouts/forms/index";
.form {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: space-between;
  width:100%;
  max-width: 500px;
  @include form00;
  @include form01(1px, 0);
  input[type="submit"] {
    border: 0;
    margin-top: 18px;
    @include cta;
    @extend %featureCta;
  }
}
.at {
  @extend %ea04;
}