---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
  - all
  - posts
  - jobs
  - marquee
  - platform
  - supplemental
permalink: /tags/{{ tag | slug }}/
layout: _index.njk
---

{% block main %}
  <main id="main-content" class="site__kickers kickers">

    <h2 class="kickers__hed">{{ tag }}</h2>
    
  {% set taglist = collections[ tag ] %}
  {% for item in taglist | reverse %}
 <article class="kickers__item kicker">
      <h3 class="kicker--hed"> <a class="kicker--link" href="{{ item.url | url }}">{{ item.data.title }}</a></h3>
      <p class="kicker--dek">{{ item.data.dek }}</p>
      <figure class="kicker--grfx">
      {% set regExp = r/^(http|https).*/g %}
      {% if item.data.thumbnail and regExp.test(item.data.thumbnail) %}
        <img src="{{ item.data.thumbnail }}">
      {% elif item.data.thumbnail %}
        <img class="lazy"
          style="background: url('/pre{{ item.data.thumbnail }}') no-repeat center;background-size:100% auto;" 
          data-srcset="/m{{ item.data.thumbnail }} 320w,/t{{ item.data.thumbnail }} 760w"
          data-sizes="(min-width: 48em) 48em, 100vw"
          data-src="{{ item.data.thumbnail }}"
          src="/m{{ item.data.thumbnail }}"
          alt="{{ item.data.title }}"
        />
        {% else %}
        <img class="lazy"
          style="background: url('/pre/img/uploads/placeholder.png') no-repeat center;background-size:100% auto;" 
          data-srcset="/m/img/uploads/placeholder.png 320w,/t/img/uploads/placeholder.png 760w"
          data-sizes="(min-width: 48em) 48em, 100vw"
          data-src="/img/uploads/placeholder.png"
          src="/m/img/uploads/placeholder.png"
          alt="{{ item.data.title }}"
        />
      {% endif %}
      </figure>
    </article>
  {% endfor %}

  </main>
{% endblock %}